<div class="root-container">
    <div class="side-column">
        <mat-toolbar class="top-header">
            <span>Available collections</span>
        </mat-toolbar>
        <app-playlists class="playlists"></app-playlists>
    </div>

    <div class="main-column">
        <app-actions class="top-header"></app-actions>
    </div>

    <div class="side-column">
        <mat-toolbar class="top-header">
            <span>Accounts</span>
        </mat-toolbar>
        <app-accounts></app-accounts>      
    </div>
</div>
