<ng-container *ngIf="infinite | async as batches">
    <cdk-virtual-scroll-viewport
        itemSize="448"
        (scrolledIndexChange)="nextBatch($event)"
    >
        <div class="container">
            <div class="wrapper" *cdkVirtualFor="let batch of batches | batch">
                <mat-card class="example-card" *ngFor="let track of batch">
                    <mat-card-header>
                        <button
                            mat-icon-button
                            mat-card-avatar
                            [color]="track.isFavourite ? 'accent' : ''"
                            (click)="toggleFavourite(track)"
                        >
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <mat-card-title>{{ track.name }}</mat-card-title>
                        <mat-card-subtitle>{{
                            track.artist
                        }}</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        [src]="track.image"
                        class="main-image"
                    />
                </mat-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</ng-container>
