<ng-container *ngIf="infinite | async as batches">
    <cdk-virtual-scroll-viewport
        itemSize="448"
        (scrolledIndexChange)="nextBatch($event)"
    >
        <div class="container">
            <div class="wrapper" *cdkVirtualFor="let batch of batches | batch">
                <mat-card class="example-card" *ngFor="let track of batch">
                    <mat-card-header>
                        <button
                            mat-icon-button
                            mat-card-avatar
                            [matMenuTriggerFor]="trackActionMenu"
                            [matMenuTriggerData]="{ track: track }"
                            [color]="track.isFavourite ? 'accent' : ''"
                        >
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <mat-card-title>{{ track.name }}</mat-card-title>
                        <mat-card-subtitle>{{
                            track.artist
                        }}</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        [src]="track.image"
                        class="main-image"
                    />
                </mat-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</ng-container>

<mat-menu #trackActionMenu="matMenu">
    <ng-template matMenuContent let-data="track">
        <button mat-menu-item (click)="toggleFavourite(data)">
            {{ data.isFavourite ? 'Remove from Loved' : 'Add to Loved' }}
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="plsSelectMenu"
            [matMenuTriggerData]="{ pls: getEditablePls(), track: data }"
        >
            Add to playlist
        </button>
        <!-- <button mat-menu-item [disabled]="!(canEditPls() | async)">
            Remove from playlist
        </button> -->
    </ng-template>
</mat-menu>

<mat-menu #plsSelectMenu="matMenu">
    <ng-template matMenuContent let-pls="pls" let-track="track">
        <button
            *ngFor="let p of pls | async"
            mat-menu-item
            (click)="addTrackToPls(track.uri, p)"
        >
            {{ p.name }}
        </button>
    </ng-template>
</mat-menu>
