<!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="image">
        <th mat-centerer-cell *matcentererCellDef></th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.image" />
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-centerer-cell *matcentererCellDef mat-sort-centerer>
            Track Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
        <th mat-centerer-cell *matcentererCellDef mat-sort-centerer>Artist</th>
        <td mat-cell *matCellDef="let element">
            {{ element.artist }}
        </td>
    </ng-container>

    <ng-container matColumnDef="album">
        <th mat-centerer-cell *matcentererCellDef mat-sort-centerer>Album</th>
        <td mat-cell *matCellDef="let element">
            {{ element.album }}
        </td>
    </ng-container>

    <ng-container matColumnDef="length">
        <th mat-centerer-cell *matcentererCellDef>Length</th>
        <td mat-cell *matCellDef="let element">
            {{ element.length }}
        </td>
    </ng-container>

    <tr mat-centerer-row *matcentererRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
<div class="container">
    <mat-action-list class="horizontal-head">
        <button class="center" mat-flat-button #image>#</button>
        <button class="center" mat-flat-button #name>Track Name</button>
        <button class="center" mat-flat-button #artist>Artist</button>
        <button class="center" mat-flat-button #album>Album</button>
        <button class="center" mat-flat-button #length>Length</button>
    </mat-action-list>
    <cdk-virtual-scroll-viewport itemSize="30" class="example-viewport">
        <li *cdkVirtualFor="let element of dataSource" class="horizontal list">
            <img [src]="element.image" />
            <h3 class="row">{{ element.name }}</h3>
            <h3 class="row">{{ element.artist }}</h3>
            <h3 class="row">{{ element.album }}</h3>
            <h3 class="row center">{{ element.length }}</h3>
        </li>
    </cdk-virtual-scroll-viewport>
</div>
