<ng-container *ngIf="isNeedShow(); else emptypls">
    <div class="pls-container">
        <mat-action-list>
            <button mat-list-item (click)="selectPlaylist(lovedTracksSpotify)">
                <img matListAvatar [src]="lovedTracksSpotify.coverUri" />
                <h3 matLine>{{ lovedTracksSpotify.name }}</h3>
            </button>

            <button
                mat-list-item
                *ngFor="let playlist of playlists | async"
                (click)="selectPlaylist(playlist)"
            >
                <img matListAvatar [src]="playlist.coverUri" />
                <h3 matLine>{{ playlist.name }}</h3>
            </button>
        </mat-action-list>
        <mat-divider></mat-divider>

        <!-- TODO DEEZER -->

        <div class="actions">
            <button mat-button>Remove Playlist</button>
            <button mat-button color="accent" (click)="createPlaylist()">
                Create Playlist
            </button>
        </div>
    </div>
</ng-container>

<ng-template #emptypls>
    <h3 class="emptypls">No accounts linked</h3>
</ng-template>
