<div class="wrap">
    <h1>Welcome to playlist management app</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure natus,
        quisquam totam obcaecati quas facilis laboriosam ipsum fugiat rerum
        velit nulla aliquam neque libero dolor saepe praesentium repellat
        reiciendis ut.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure natus,
        quisquam totam obcaecati quas facilis laboriosam ipsum fugiat rerum
        velit nulla aliquam neque libero dolor saepe praesentium repellat
        reiciendis ut.
    </p>
</div>
