<mat-expansion-panel *ngFor="let platform of platforms | keyvalue" [expanded]="isPlatormExpanded(platform.value)">
    <mat-expansion-panel-header>
        <mat-panel-title> Your {{ platform.value }} account </mat-panel-title>
    </mat-expansion-panel-header>

    <app-account [account]="getAccountByPlatform(platform.value)"></app-account>

    <mat-action-row>
        <div
            *ngIf="
                getAccountByPlatform(platform.value) == undefined;
                else removeacc
            "
        >
            <button
                mat-button
                color="accent"
                (click)="linkAccount_Click(platform.value)"
            >
                Link account
            </button>
        </div>
        <ng-template #removeacc>
            <button
                *ngIf="getAccountByPlatform(platform.value) != undefined"
                mat-button
                color="accent"
                (click)="removeAccount_Click(platform.value)"
            >
                Remove account
            </button>
        </ng-template>
    </mat-action-row>
</mat-expansion-panel>
