<mat-expansion-panel *ngFor="let platform of platforms | keyvalue">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Your {{platform.value}} accounts
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list *ngIf="accounts.length; else emptyacc">
         <mat-list-item *ngFor="let account of getAccountsByPlatform(platform.key)">
            <app-account [account]="account"></app-account>
        </mat-list-item> 
    </mat-list>

    <ng-template #emptyacc>
        <p class="noaccounts">No accounts here</p>
    </ng-template>

    <mat-action-row>
        <button mat-button color="accent" (click)="linkAccount_Click(platform.value)">Link new account!</button>
    </mat-action-row>
</mat-expansion-panel>